.container {
    margin: 5px 0;
}

.card {
    margin: 2% 2% !important;
}

.workOrder {
    margin: 5% 2%;
}

.image {
    width: 125px;
    height: 125px;
    border-radius: 62.5px;
}

.worker {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 1280px) {
    .card {
        margin: 2% 10% !important;
    }
}
